name: CI
on:
  push:
    branches:
      - '*'
  schedule:
    - cron: "0 4 * * *"
jobs:
  unit_tests:
    name: Run unit tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - name: Run integration tests
      run: |
        cd docker
        ./test_integration.sh -v v20.11.04

  build_docker:
    name: Build docker image
    runs-on: ubuntu-latest
    needs: unit_tests
    steps:
    - uses: actions/checkout@v1

    - name: Run integration tests
      run: docker build -f docker/Dockerfile --tag bywater/koha-ncip-server:v20.11-latest .

    - name: Log in to Docker Hub
      env:
        DOCKER_USER: ${{secrets.DOCKER_USER}}
        DOCKER_PASSWORD: ${{secrets.DOCKER_PASSWORD}}
      run: docker login -u $DOCKER_USER -p $DOCKER_PASSWORD

    - name: Push to Docker Hub
      run: docker push bywater/koha-ncip-server:v20.11-latest
